<?xml version="1.0" encoding="utf-8"?>
<mapper namespace="ArticleMapper">

    <select id="queryAllLog" resultType="structs">
        SELECT
        `id`,
        `created_at`,
        `updated_at`,
        `deleted_at`,
        `title`,
        `cid`,
        `desc`,
        `img`,
        `comment_count`,
        `read_count`
        FROM
        `article`
    </select>

</mapper>